@media only screen and (min-width: 64rem){

   .discover-container {
      display: grid; 
      grid-template-columns: 1fr 1fr;
       
   }

   .discover-container img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .discover-container img:hover {
    transform: scale(1.05); /* Slightly enlarge the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

}
    
