* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: Roboto, Helvetica, sans-serif;
	color: #fff;
    width: 100%;
    margin: 0 auto;
}

main {
    width: 90%;
    margin: 0 auto;
}

h1 {
	border-bottom: 1px solid #101010;
	padding: 15px;
	background-color: #7a4406;
    text-align: center;
}

h2 {
	padding: 0.5rem;
}

#emessage {
	visibility: hidden;
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	font-size: 0.8rem;
	background-color: indianred;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #bbb;
}


#cards {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
	grid-gap: 1rem;
}

section {
	margin: 1rem 0rem;
    padding-bottom: 1.3rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-image: linear-gradient(to top, #7a4406 0%, #86f7ee 75%);
	color: #fbf7f7;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
}

.highlight {
	color: navy;
}

section img {
	width: 240px;
	height: auto;
	border: 1px solid #fff;
	box-shadow: 0 0 20px #fff;
	margin-top: 1rem;
}

input,
select,
textarea,
button {
	padding: 0.5rem;
	margin: 0.5rem;
	border: 1px solid rgba(0,0,0,.1);
}

.active {
	color: #f5eeee;
	background-color: #7a4406;
}

button {
	width: 150px;
}

button:hover {
	background-color: yellow;
	color: #000;
	border: 1px solid rgba(0,0,0,.1);
}

.stats {
	margin: 0.5rem;
	border: 1px solid #fff;
	padding: 1rem;
	background-color: #7a4406;
}

section h2 {
	color: #7a4406
}

.stats p {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5rem;
}

.label {
	text-align: right;
	color: yellow;
}

footer {
    background-color: #7a4406;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
