:root {
    --padding-container: 80px 0;
    --color-primary: #f77062;
    --color-secondary: #1b998b;
    --color-bg: #fafafa;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0, 0, 0, .2);

    /***** Contact Styles ******/
    --contact-columns: repeat(8, 1fr);
    --contact-rows: 1fr;
    --clip: polygon(35% 0, 100% 0%, 100% 100%, 0% 100%);
}

@font-face {
    font-family: "EngraversOldEnglishBold";
    src: url('./EngraversOldEnglishBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Lato', sans-serif;
}

.main {
    position: relative;
}

.title-last-time {
    position: absolute;
}

.main__page {
    color: #fff;
}

.last-visit-message {
    width: fit-content;
    padding: .4rem;
    background-color: #fff;
    margin-left: 2.8rem;
    border-radius: 25px;
    z-index: 2;
    top: 1rem;
    left: 6rem;
    color: var(--color-primary);
    font-weight: 700;

}

.container {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}

.container-about {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: var(--padding-container);
}


/* hero section */

.hero__main__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.hero {
    --padding-container: 0;
}

.hero-about {
    --padding-container: 0;
}


.hero__main {
    --padding-container: 0;
    height: 100vh;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);

}

.hero__img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.hero__picture {
    max-width: 80%;
}

.hero__texts {
    width: 45%;
    color: #fff;

}

.hero__title {
    font-size: 4rem;
    color: #fff;
}

.hero__comment {
    font-size: 1.5rem;
    font-weight: 300;
}

.home__cta {
    display: inline-block;
    margin-top: 20px;
    background: #6C63FF;
    padding: 20px 40px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
}

.home__cta:hover {
    background-color: var(--color-secondary)
}

/***********nav***********/
.nav {
    background-image: linear-gradient(to bottom, #1b998b 20%, #6C63FF 190%);
    height: var(--height-nav);
    color: #fff;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menuLinks {
    display: flex;
    list-style: none;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 6px black;
    padding: .5rem .7rem .8rem;
}

li.current-menu-item a {
    background-color: rgba(0, 0, 0, 0.2);

}

.nav__link:hover {
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: medium;
}

.nav__banner {
    text-align: center;
}

.nav__banner h2 {
    font-family: "EngraversOldEnglishBold", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
    text-shadow: 0px 0px 15px black;
    margin: 0px;
}

.nav__banner h3 {
    margin: .5rem;
    padding: 0px;
    text-shadow: 0px 0px 5px black;
}

.nav__logo h2 {
    text-shadow: 0px 0px 10px black;
}



/* About section */

.title {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--align-title);
}

.title-2 {
    margin: 0;
    margin-bottom: 40px;
    color: var(--color-primary);
    text-align: var(--align-title);
    font-size: 1.5rem;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0;
}

main h1 {
    color: var(--color-secondary);
    padding: 1rem 3rem;
    font-size: x-large;
}

.about__img {
    width: 45%;
    text-align: center;
    margin: 0;
}

.about__picture {
    max-width: 80%;
}

.about__texts {
    width: 50%;
    --align-title: left;
}

.about__paragraph {
    line-height: 1.5;
}

.about__cta {
    display: inline-block;
    margin-top: 20px;
    background: var(--color-primary);
    padding: 20px 40px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 1rem;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.5);
}

.about__cta:hover {
    background-color: #6C63FF;
}

/* bestbook section */

.bestbook {
    background-color: rgb(245, 240, 235);
}

.bestbook__position {
    position: absolute;
    top: -10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
    padding: 4px 4px;
    border-radius: 5px;
    font-size: 1.2rem;
    z-index: 2;
}


.bestbook1__cards {
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bestbook__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
    position: relative;
    width: 250px;
    background-image: linear-gradient(to bottom, #fff 50%, #6C63FF 190%);
    height: 410px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.bestbook__card:hover {
    transform: translateY(-5px);
}

.bestbook2__cards {
    display: flex;
    padding: 1rem 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.bestbook2__card {
    width: 23%;
    background: #fff;
    height: auto;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-bottom: 1rem;
}



.bestbook__picture {
    width: 100%;
    height: 200px;
    padding-top: 1rem;
    object-fit: contain;
}

.bestbook__weeks {
    margin: .5rem 0rem .3rem;
    font-size: small;
}

.bestbook__texts {
    padding: 0rem 1rem 0rem;
}

.bestbook__title {

    text-align: left;

    color: #4a4747;
    background: #bababa;
    text-shadow: #e0e0e0 1px 1px 0;
    width: fit-content;
    margin: 0;
}

.bestbook__author {
    color: #666;
    font-style: italic;
    margin: .2rem 0;
}

.bestbook__description {
    font-size: 0.9rem;
    line-height: 1.3;
    margin: .3rem 0;
}

.bestbook__paragraph {
    font-weight: 300;
    margin: 30px 0;
}


/* Selector for Buy */
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #1b998b;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    appearance: none;
    text-align: center;
}

.select-wrapper::after {
    content: "▼";
    position: absolute;
    right: 15px;
    /* pointer-events: none; */
    color: #1b998b;
}

/* comment section */

.comment {
    background: var(--color-primary);
}

.comment__texts {
    --color-primary: #fff;
    text-align: center;
}


.title--margin {
    margin: 0;
}

.comment__texts figure {
    text-align: center;
}

.comment__texts figure img {
    border-radius: 50%;
    width: 10rem;
}

.comment__texts p {
    color: var(--color-primary);
}


/* Languages section */

.sponsors {
    background-color: var(--color-bg)
}

.sponsors__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.sponsors__picture {
    width: 9rem;
    ;
    height: 9rem;
    border-radius: 8px;
}

/* Contact Form */
.contact-page {
    padding: 1rem 3rem 0rem;

}

.contact {
    margin-top: 0;
    min-height: 600px;
    display: grid;
    grid-template-columns: var(--contact-columns);
    grid-template-rows: var(--contact-rows);
}

.contact__picture {
    grid-column: 5/-1;
    grid-row: 1/-1;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 0;

}

.contact__picture::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-secondary);
    z-index: -1;
     clip-path: var(--clip); 
}

.contact__img {
    width: 90%;
}

.contact__form {
    grid-column: 1/5;
    grid-row: 1/-1;
    place-self: center;
    display: grid;
    width: 70%;
    gap: 1rem;
}

.contact__title {
    font-size: 3rem;
    color: var(--color-primary);
}

.contact__title::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--color-secondary);
    margin-top: 10px;
}

.contact__input {
    padding: 1rem .6rem;
    font-family: 'Inter', sans-serif;
    width: 100%;
    outline: none;
    border: 1px solid #000;
    border-radius: 3px;
    border-left-width: 5px;
}

.contact__input--area {
    resize: none;
    height: 10rem;
}


input:required {
    border-left-color: #d70000;
}

input:focus {
    border-left-color: black;
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

textarea:valid {
    border-left-color: green;
}

.label-text {
    line-height: 25px;
    color: var(--color-primary);
    font-weight: bold;
}

.contact__cta {
    border: none;
    display: block;
    background-color: var(--color-primary);
    width: 12rem;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 1.1rem 0;
    outline: none;
    border-radius: 8px;
    font-weight: 700;
    margin-bottom: 2rem;
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
}


.highlight {
    color: #e74c3c;
    font-weight: bold;
}

.contact__cta:hover {
    background-color: #6C63FF;
    color: #fff;
    cursor: pointer;
}

/****** Join Form ********/
#countryError {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: 0.5rem;
    display: none;
}

.suggestions-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    display: none;
    /* Oculto por defecto */
}

.suggestion-item {
    padding: 8px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.join__title {
    position: relative;
    margin-bottom: 500px;
    margin-left: -3rem;
    z-index: -1;
}

.joining-details {
    position: absolute;
    top: 170px;
}

.joining__results {
    position: absolute;
    top: 275px;
}

.joining__results h3 {
    max-width: 40rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* Footer section */

.footer {
    background: var(--color-primary);
    color: #fff;
    text-align: center;
}

.footer__container {
    --color-primary: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.footer__texts {
    justify-items: center;
    text-align: center;
    width: 50%;
}

.footer__texts a {

    text-decoration: none;
}

.footer__texts h2 {
    background-color: #6C63FF;
    width: 16rem;
    padding: 1rem;
    color: #fff;
    outline: none;
    border-radius: 8px;
    font-weight: 700;
    margin-bottom: 2rem;
    box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    text-align: center;
}

.footer__texts h2:hover {

    color: #e74c3c;
    background-color: #fff;

}



.footer__icon {
    display: inline-block;
    font-size: 2rem;
    margin: 0 30px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    border: 1px solid;
    border-radius: 50%;

}

.footer__icon.fab {
    line-height: 60px;
}

.footer__icon:hover {
    background: #fff;
    color: #f77062;
    cursor: pointer;
}

.footer__link {
    display: inline-block;
    color: #fff;
    margin: 0 20px;
    margin-bottom: 15px;
}

.footer__link:hover {
    text-decoration: none;
}

.footer__img {
    margin: 0;
    width: 35%;
}

.footer__picture {
    width: 90%;
}

.footer__nav a {
    transition: transform 0.3s;
}

.footer__nav a:hover {
    -moz-transform: scale(1.5);
    -wekit-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

#myButton {
    display: none;
}

@media screen and (max-width: 800px) {
    .hero__main__container {
        justify-content: center;
    }

    .hero__main {
        height: auto;
        min-height: 100vh;
        --padding-container: 40px 0;

    }

    .hero__img {
        width: 60%;
        margin-bottom: 30px;
    }

    .hero__picture {
        max-width: 85%;
    }

    .hero__texts {
        width: 100%;
    }

    .hero__title {
        font-size: 3.5rem;
    }


    /* Section about */

    .about__texts {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
        --align-title: center;
    }

    .about__paragraph {
        text-align: left;
    }

    .about__img {
        width: 100%;
    }

    /* Section bestbook */

    .bestbook__card {
        width: 45%;
        margin-bottom: 30px;
    }

    .bestbook2__card {
        width: 45%;
        margin-bottom: 30px;
    }


    /* Section sponsors */

    .sponsors__container {
        justify-content: space-between;
    }

    /* Footer */

    .footer__container {
        flex-direction: column;
    }

    .footer__img {
        order: -1;
        width: 45%;
        margin-bottom: 30px;
    }

    .footer__picture {
        width: 100%;
    }

    .footer__texts {
        width: 100%;
    }

    :root {
        --contact-columns: 1fr;
        --contact-rows: max-content 1fr;
        --clip: polygon(0 0, 0% 100%, 100% 0);
    }

    .contact-page {
        padding: 1rem 2.5rem 0rem;

    }

    .contact__title::after {

        margin-top: 6px;
    }

    .contact__form {
        grid-column: 1/-1;
        grid-row: 2/3;
        padding: 2.5rem 0 2.5rem;
        width: 90%;
        max-width: 31.25rem;
        padding-top: 0;
    }

    .contact__picture {
        grid-column: 1/-1;
        grid-row: 1/2;
        justify-content: center;
        padding: 1.1rem;
        margin-top: 1rem;
    }

    .contact__img {
        max-width: 25rem;
    }
}

@media screen and (max-width: 550px) {
    .hero__img {
        width: 85%
    }

    .hero__picture {
        max-width: 100%;
    }

    .hero__title {
        font-size: 2.8rem;

    }

    .hero__comment {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .home__cta {
        margin: 0 auto;
    }


    .title {
        font-size: 1.8rem;
    }

    .nav__container {
        padding: 0;
        padding-bottom: 0rem;
    }

    .nav__logo {
        margin: 0;
        ;
    }


    .about__texts {
        width: 100%;
    }

    .bestbook__card {
        width: 90%;
        max-width: 300px;
    }

    .bestbook2__card {
        width: 90%;
        max-width: 300px;
    }


    .sponsors__container {
        justify-content: space-around;
    }

    .sponsors__picture {
        width: 35%;
        margin-bottom: 30px;
    }

    .footer__img {
        width: 90%;
    }

    .footer__img {
        max-width: 330px;
        margin-bottom: 40px;
    }

    .nav__nav__hamburguer {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: large;
        background-color: var(--active-color-2);
    }

    /* Navigation and Hamburger */

    #myButton {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        color: var(--letter-color);
        cursor: pointer;
        width: 100%;
        text-align: right;
        padding: .25rem 2vw;
        margin-top: -.5rem;
    }

    #myButton::before {
        position: absolute;
        content: "\2630";
        top: 10px;
        right: 15px;
    }


    ul.menuLinks {
        display: none;
        list-style-type: none;
        margin: 0;
        text-align: center;
    }

    ul.menuLinks li a {
        display: block;
        padding: .75rem 5vw;
        color: var(--primary-color);
        text-decoration: none;
    }

    li.current-menu-item a {
        background-color: rgba(0, 0, 0, 0.2);
        /* color: var(--white-bass-color); */
    }

    #myButton.open::before {
        content: "\2613";
    }

    ul.menuLinks.open {
        padding: 0;
        display: block;
        transition: transform 0.3s;
    }

    ul.menuLinks.open:hover {
        transform: translateY(-5px);
    }

    ul.menuLinks a:hover {
        font-size: 1.1rem;
        letter-spacing: .03rem;
    }

}